body {
    margin: 0;
    padding: 0;
}

.audentification-block {
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-top: 50px;
}

.login-block, .registration-block {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}



.login-block__input_login, .login-block__input_password, .input-text {
    margin-bottom: 10px;
    padding: 5px;
}

.data-inputs .input-text {
    margin-bottom: 0;
}

.login-block__btn_login, .registration-btn {
    margin-top: 10px;
    background-color: #9bcac7;
    padding: 5px;
    border: none;
}

.main-block {
    margin-top: 50px;
    border: 1px solid #000;
    width: 680px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.main-block__status {
    width: 30%;
    padding: 5px;
    background-color: #465c87;
}

.chat-block {
    width: 70%;
    margin-left: auto;
}

.chat-block__message-block {
    height: 520px;
    background-color: #eee;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.chat-block__exit {
    padding: 5px;
    background-color: #465c87;
}

.chat-block__exit-btn {
    display: block;
    margin-left: auto;
}

.chat-block__form {
    padding: 5px;
    background-color: #465c87;
}

.chat-block__input {
    width: 350px;
    padding: 5px;
    outline: none;
}

.chat-block__message, .chat-block__incoming-message {
    display: flex;
    flex-direction: column;
    background-color: #cbcbc7;
    padding: 8px;   
    min-width: 100px;
    max-width: 250px;
    min-height: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.chat-block__message {
   margin-left: auto;
}

.chat-block__incoming-message {
    margin-right: auto;
}

.chat-block__name-of-user {
    color: #465c87;
    font-weight: bold;
}

.person {
    padding: 5px;
    display: flex;
}

.person__photo {
    width: 40px;
    height: 40px;
    background-image: url(../img/man.svg);
    border-radius: 50px;
}

.person__info {
    margin-left: 8px;
}

.person__name {
    color: #000;
    font-weight: bold;
}

.person__status {
    color: #fff;
}

.chat-block__time {
    margin-left: auto;
    word-wrap: break-word;
}



